/*-------------- IMPORTS --------------*/

@import url('bootstrap.min.css');

/*-------------- TAG DECLARATIONS --------------*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a, a:hover {
	text-decoration: none;
}

strong {
	font-weight: 700;
}

ul {
	margin-bottom: 0px;
	padding-left: 0px;
}

li {
	list-style-type: none; 
}

h1, h2, h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	margin: 0px;
}

/*-------------- CLASS & HIERARCHICAL DECLARATIONS --------------*/

.topHeader {
	background-color: #3B3E46;
	padding-top: 16px;
	padding-bottom: 16px;
}

.topHeader span {
	font-size: 13px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-left: 10px;
	vertical-align: top;
}

.glyphicon.colorChanger {
	text-shadow: -1px 0 #D33546, 0 1px #D33546, 1px 0 #D33546, 0 -1px #D33546;
	color: #3B3E46;
}

.topHeader ul li {
	margin-right: 32px;
	/*margin-left: 7px;*/
}

.navbar-nav>li {
	margin-left: 32px;
}

.navbar-default .navbar-toggle.toggler {
	border-radius: 0px;
	border-color: #D33546; 
}

.navbar-default .navbar-toggle.toggler:hover {
	background-color: #3B3E46;
}

.navbar-default .navbar-toggle.toggler:focus {
	background-color: #3B3E46;
}

.navbar-default .navbar-toggle .icon-bar.barColoring {
	background-color: #D33546;
}

.mainHeader {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #000000;
	background-color: #FFFFFF;
	margin-bottom: 0px;
}

.navbar-brand {
	height: 98px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand.mainHedaer {
	margin-left: 0px;
}

.navbar-default .navbar-nav>li>a.headerLinks {
	color: #000000;
	line-height: 98px;
}

.navbar-nav>li>a.headerLinks {
	padding: 0px;
}

.navbar-default .navbar-nav>li>a.headerLinks:hover {
	color: #D33546;
}

.logo {
	padding: 0px;
	padding-top: 27px;
	padding-bottom: 27px;
}

.bannerSection {
	background: url('../images/banner.jpg') no-repeat center center;
	background-size: cover;
	display: block; 
	color: #FFFFFF;
	text-align: center;
	padding-top: 175px;
	padding-bottom: 225px;
}

.bannerSection h1 {
	font-size: 72px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.bannerSection span {
	color: #E63547;
	font-weight: 700;
}

.bannerSection p {
	font-size: 26px;
	line-height: 42px;
	font-weight: 600;
	margin-bottom: 45px;
}

.bannerSection a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 64px;
	background-color: #E63547;
	color: #FFFFFF;
	width: 244px;
	display: inline-block;
	text-align: center;
}

.bannerSection a:hover {
	color: #E63547;
	background-color: #FFFFFF;
}

.nadineFeatures {
	text-align: center;
	padding-top: 105px;
	padding-bottom: 105px;
}

.nadineFeatures	h2 {
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 32px;
}

.nadineFeatures h2 span {
	color: #E63547;
	font-weight: 700;
}

.dashedContent {
	margin: 0px auto;
	margin-bottom: 45px;
}

.dash {
	display: inline-block;
	width: 66px;
	border-bottom: 3px solid #E63547;
	margin-bottom: 7px;
	margin-right: -4px;
}

.dash2 {
	display: inline-block;
	width: 66px;
	border-bottom: 3px solid #E63547;
	margin-bottom: 7px;
	margin-left: -4px;
}

.round {
	border: 2px solid #E63547;
	display: inline-block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
}

.nadineFeatures h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 30px;
}

.nadineFeatures p {
	font-size: 14px;
	color: #616161;
	line-height: 25px;
}

.features {
	display: block;
	margin: 0px auto;
	width: 98px;
	height: 101px;
	margin-bottom: 50px;
}

.comprehensiveness {
	background: url('../images/comprehensive.png') no-repeat;
}

.practicality {
	background: url('../images/practicality.png') no-repeat;
}

.thoughtfulness {
	background: url('../images/thoughtfulness.png') no-repeat;
}

.ourMission {
   background: url('../images/bannerTwo.jpg') no-repeat;
   background-size: cover;
   padding-top: 150px;
   padding-bottom: 150px;
 }

 .ourMission p {
	margin-bottom: 23px;
}

.ourMission p:last-child {
	margin-bottom: 0px;
}

.missionContent {
	text-align: center;
	color: #FFFFFF;
}

.missionContent h1 {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.missionContent span {
	font-weight: 700;
	color: #E63547;
}

.missionContent p {
	font-size: 18px;
	line-height: 32px;
}

.ourClients {
	text-align: center;
	padding-top: 56px;
	padding-bottom: 101px;
}

.ourClients h1 {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 57px;
}

.ourClients span {
	font-weight: 700;
	color: #E63547;
}

.ourClients a {
	display: block;
	border: 1px solid #FFFFFF;
}

.ourClients a:hover {
	border: 1px solid #000000;
}

.clients {
	display:inline-block;
	height: 100px;
	width: 233px;
}

.torontoPearson {
	background: url('../images/torontoPearson.png') no-repeat center center;
}

.universityToronto {
	background: url('../images/universityToronto.png') no-repeat center center;
}

.hiltonHotels {
	background: url('../images/hiltonHotels.png') no-repeat center center;
}

.toronto {
	background: url('../images/toronto.png') no-repeat center center;
}

.footer {
	background-color: #2B2C31;
	color: #FFFFFF;
	padding-top: 56px;
	padding-bottom: 75px;
}

.company {
	text-transform: uppercase;
}

.company li {
	line-height: 38px;
	font-size: 14px;
}

.company li a {
	color: #FFFFFF;
	display: block;
}


.company li a:hover {
	color: #E63547;
}

.footer h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 44px;
	border-bottom: 1px solid #2F3035;
	margin-bottom: 23px;
}

.contact li {
	font-size: 14px;
	line-height: 30px;
}

.address {
	width: 225px;
	margin-bottom: 26px;
}

.phone {
	width: 175px;
}

.awards {
	display: block;
	width: 216px;
	height: 109px;
}

.consultingEngineers {
	background: url('../images/consultingEngineersOntario.png') no-repeat center center;
	height: 75px;
	margin-bottom: 70px;
}

.engineersOntario {
	background: url('../images/ontarioEngineers.png') no-repeat center center;
	height: 75px;
	margin-bottom: 70px;
}

.nfpa {
	background: url('../images/nfpa.png') no-repeat center center;
}

.isoMark {
	background: url('../images/isoMark.png') no-repeat center center;
}

.copyrights {
	background-color: #26272B;
	font-size: 14px;
	color: #888A91;
	padding-top: 48px;
	padding-bottom: 28px;
}

/*-------------- MEDIA QUERIES --------------*/

@media only screen and (max-width: 767px) {

	h1, h2, h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	p {
		margin: 0px;
	}

	.topHeader {
		padding-bottom: 0px;
		padding-top: 10px;
	}

	.topHeader ul li {
		display: block;
	    margin-right: 0px;
	    margin-bottom: 5px;
	}

	.topHeader i {
		float: left;
	}

	.topHeader span {
		font-size: 10px;
		margin-left: 10px;
		float: left;
		width: 265px;
	}

   .responder {
		max-width: 75%;
		margin-left: 10px;
	}

	.logo {
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.navbar-brand {
		height: 50px;
	}

	.navbar-nav>li {
		margin-left: 10px;
	}

	.navbar-default .navbar-nav>li>a.headerLinks {
		color: #000000;
		line-height: 30px;
	}

	.bannerSection {
		padding: 20px 0px;
	}

	.bannerSection h1 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.bannerSection p {
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 20px;
	}

	.bannerSection a.redButton {
		width: 150px;
		line-height: 28px;
		font-size: 12px;
	}

	.nadineFeatures {
		padding: 20px 0px;
	}

	.nadineFeatures h2 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.dashedContent {
		margin-bottom: 30px;
	}

	.dash {
		width: 45px;
		margin-bottom: 4px;
	}

	.dash2 {
		width: 45px;
		margin-bottom: 4px;
	}

	.round {
		width: 10px;
		height: 10px;
	}

	.comprehensiveness {
		margin-bottom: 20px;
	}

	.practicality {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.thoughtfulness {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.nadineFeatures h3 {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.nadineFeatures p {
		line-height: 20px;
	}

	.ourMission {
		padding: 20px 0px;
	}

	.ourMission h1 {
		font-size: 25px;
		margin-bottom: 20px;
	}

	.ourMission p {
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 20px;
	}

	.ourMission p:last-child {
		margin-bottom: 0px;
	}

	.ourClients {
		padding: 20px 0px;
	}

	.ourClients h1 {
		font-size: 25px;
		margin-bottom: 0px;
	}

	.torontoPearson {
		margin: 0px 0px;
	}

	.universityToronto {
		margin: 0px 0px;
	}

	.hiltonHotels {
		margin: 0px 0px;	
	}

	.toronto {
		margin: 0px 0px;
	}

	.company {
		margin-bottom: 50px;
	}
	
	.company li {
		font-size: 12px;
		line-height: 30px;
	}

	.contact {
		margin-bottom: 50px;
	}

	.consultingEngineers {
		margin-bottom: 10px;
		width: auto;
	}

	.engineersOntario {
		margin-bottom: 10px;
		width: auto;
	}

	.nfpa {
		margin-bottom: 10px;
		width: auto;
	}

	.isoMark {
		margin-bottom: 10px;
		width: auto;
	}

	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer h3 {
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 10px;
	}

	.copyrights {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;
	}
}