/*-------------- IMPORTS --------------*/

@import url('reset.css');

body {
	font-family: 'Raleway', sans-serif;
}

a, a:hover {
	text-decoration: none;
}

.container {
	width: 940px; 
	margin: 0px auto; 
}

.clearfix:before,
.clearfix:after {
	display: table;
  	content: " ";
}

.clearfix:after {
	clear: both;
}

.header {
	background-color: #212121;
}

.logo {
	float: left;
	padding: 15px 0px;
}

a.logo>img {
	display: block;
}

.headerButtons  {
	float: right;
	margin-top: 29px;
}

.headerLinks {
	float: right;
	line-height: 88px;
}

.headerButtons li {
	float: left;
	margin-left: 23px;
}

.headerLinks li {
	float: left;
	margin-left: 23px;
}

.fa-check {
	color: #6AA233;
}

.fa-times {
	color: #BCBEC0;
}

.headerButtons a {
	background-color: #C1272D;
	padding: 0px 11px;
	line-height: 28px;
	border: 1px solid #C1272D;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.headerButtons a:hover {
	background-color: #FFFFFF;
	color: #C1272D;
}

.header li a {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 700;
	display: block;
}

.header li a:hover {
	color: #C1272D;
	text-decoration: none;
}

.content {
	padding-top: 88px;
	padding-bottom: 148px;
	text-align: center;
}

.content h1 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 32px;
	color: #000000;
	line-height: 34px;
	margin-bottom: 61px;
}

.planChooser {
	width: 345px;
	margin: 0px auto;
	margin-bottom: 52px;
}

.planChooser li {
	float: left;
	line-height: 48px;
	font-weight: 700;
	color: #646464;
	border: 1px solid #CAC9C9;
	border-radius: 3px;
	text-align: center;
	width: 170px;
}

.planChooser li:first-child{
	border-radius: 3px 0px 0px 3px;
}

.planChooser li:last-child{
	border-radius: 0px 3px 3px 0px;
}

.planChooser li:hover {
	background-color: #F9E9EA;
	color: #C1272D;
	border-color: #C1272D;
}

.planChooser li.active {
	background-color: #F9E9EA;
	border-color: #C1272D;
}

.planChooser li>a {
	display: block;
	color: #646464;
}

.planChooser li.active>a, .planChooser li>a:hover {
	color: #C1272D;
}

.content a span {
	font-weight: 400;
}

.features {
	text-align: center;
	margin-bottom: 64px;
	float: left;
}

.leftColumn {
	float: left;
	margin-top: 177px;
}

.leftColumn li {
	width: 190px;
}

.values li {
	border-bottom: 1px solid #ECEAEA;
}

.values li:first-child {
	border-top: 1px solid #ECEAEA;
}

.leftColumn h3 {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #505050;
	text-align: left;
	display: table-cell;
	height: 57px;
	width: 190px;
	vertical-align: middle;
	line-height: 16px;
}

.leftColumn span, .leftColumn a {
	display: block;
	text-transform: capitalize;
	font-weight: 500;
} 

.leftColumn a {
	color: #C1272C;
	font-weight: 700;
	text-decoration: underline;
}

.leftColumn a:hover {
	color: #4CAF50;
}

ul.features>li {
	float: left;
	margin-left: -1px;
}

.features li.active .offer {
	background-color: #C1272C;
}

.features li.active ul.features>li>ul {
	background-color: #F8F8F8;
}

ul.features>li>ul {
	text-align: center;
	border: 1px solid #CCCCCC;
}

ul.features>li>ul li {
	padding: 20px 0px;
	border-bottom: 1px solid #ECEAEA;
}

ul.features>li>ul li:first-child {
	font-size: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #6D6E71;
}

ul.features>li>ul sup {
	font-size: 18px;
	vertical-align: super;
}

ul.features>li>ul sub {
	font-size: 15px;
	vertical-align: sub;
}

.offer {
	background-color: #646464;
	display: table-cell;
	width: 186px;
	height: 66px;
	vertical-align: middle;
}

ul.features>li:first-child .offer  {
	border-top-left-radius: 6px;
}

.offer span.bestValue {
	font-size: 12px;
	color: #FDBDBD;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 6px;
}

ul.features>li:last-child .offer {
	border-top-right-radius: 6px;
	background-color: #515151;
}

.offer span {
	display: block;
	text-transform: uppercase;
}

.offer h2 {
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
}

ul.features>li:first-child h2 {
	margin-bottom: 8px;
}

.offer span {
	font-weight: 600;
	font-size: 14px;
	color: #CCCCCC;
}

ul.features>li>ul li:last-child a {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid #C1272C;
	font-weight: 600;
	line-height: 39px;
	width: 133px;
	margin: 0px auto;
	color: #C1272C;
	border-radius: 3px;
}

ul.features>li>ul li:last-child a:hover {
	color: #FFFFFF;
	background-color: #C1272C;
}

ul.features>li>ul label {
	display: none;
}

.contactUs {
	display: block;
	text-align: center;
	color: #C1272C;
	font-size: 15px;
	font-weight: 600;
}

.contactUs a {
	font-weight: 700;
	text-decoration: underline;
	color: #C1272C;
}

.contactUs a:hover {
	color: #4CAF50;
}

.footer {
	text-align: center;
	padding-top: 56px;
	padding-bottom: 33px;
	background-color: #1A1818;
}

.footerLogo {
	background: url(../images/datamapperFooter.png) no-repeat center center;
	width: 130px;
	height: 105px;
	display: inline-block;
	margin-bottom: 59px;
}

.footer ul {
	text-align: center;
	margin-bottom: 57px;
}

.footer ul li {
	display: inline-block;
	margin-right: 38px;
}

.footer ul li:last-child {
	margin-right: 0px;
}

.footer ul li a {
	display: table-cell;
	width:35px;
	height: 35px;
	border-radius: 50%;
	background-color: #FFFFFF;
	vertical-align: middle;
	color: #000000;
}

.footer li a:hover {
	background-color: #C1272D;
	color: #FFFFFF;
}

.copyPrivacy span, .copyPrivacy a {
	color: #929292;
	font-size: 16px;
	display: block;
	line-height: 30px;
}

.copyPrivacy a {
	text-decoration: underline;
}

.copyPrivacy a:hover {
	color: #FFFFFF;
}

/*-------------- MEDIA QUERIES --------------*/

@media only screen and (max-width: 1199px) {
	.container {
		width: 100%;
		padding: 0px 15px;
		box-sizing: border-box;
	}

	.content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.headerButtons {
		display: none;
	}

	.headerLinks {
		display: none;
	}

	.leftColumn li {
		display: none;
	}

	.planChooser {
		width: 350px;
		margin: 0px auto;
		margin-bottom: 30px;
	}

	.plans {
		width: 372px;
		margin: 0px auto;
	}

	.content a {
		font-size: 16px;
	}
	
	.features {
		width: 372px;
		margin: 0px auto;
	}

	ul.features>li {
		width: 186px;
		margin-bottom: 30px;
	}
	
	.offer {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	
	ul.features>li:nth-child(even) .offer {
		border-top-left-radius: 0px;
	}

	ul.features>li:nth-child(odd) .offer {
		border-top-right-radius: 0px;
	}
	
	ul.features>li>ul label {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 16px;
		font-size: 12px;
		color: #505050;
		margin-bottom: 6px;
	}

	ul.features>li>ul label span, ul.features>li>ul label a {
		display: block;
		font-size: 12px;
		font-weight: 500;
		text-transform: capitalize;
	} 

	ul.features>li>ul label a {
		color: #C1272C;
		font-weight: 700;
		text-decoration: underline;
	}

}

@media only screen and (max-width: 767px) {
	.container {
		width: 100%;
		padding: 0px 15px;
		box-sizing: border-box;
	}
	
	.headerButtons {
		display: none;
	}

	.headerLinks {
		display: none;
	}

	.content {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	
	.planChooser li>a {
		border-radius: 3px;
	}

	.content h1 {
		font-size: 25px;
		margin-bottom: 33px;
	}

	.leftColumn li {
		display: none;
	}

	.planChooser {
		width: 173px;
		margin: 0px auto;
		margin-bottom: 30px;
	}

	.planChooser li {
		margin-bottom: 20px;
		border-radius: 3px !important;
	}
	
	.planChooser li:last-child {
		margin-bottom: 0px;
	}

	.plans {
		width: 186px;
		margin: 0px auto;
	}

	.content a {
		width: 186px;
		font-size: 14px;
	}
	
	.features {
		width: 186px;
		margin: 0px auto;
	}

	ul.features>li {
		width: 186px;
		margin-bottom: 30px;
	}

	ul.features>li:nth-child(odd) .offer {
		border-top-right-radius: 6px;
	}

	ul.features>li:nth-child(even) .offer {
		border-top-left-radius: 6px;
	}

	ul.features>li>ul label {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;
		color: #505050;
		margin-bottom: 10px;
		line-height: 16px;
	}

	ul.features>li>ul label span a {
		display: block;
		font-size: 10px;
		font-weight: 500;
		text-transform: capitalize;
	}

	.contactUs {
		margin-bottom: 0px;
	}

	.footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.footerLogo {
		margin-bottom: 30px;
	}

	.footer ul {
		margin-bottom: 30px;
	}

	.copyPrivacy span, .copyPrivacy a {
		line-height: 20px;
	}

}